
header{
    background-image: url(../img/logos/SportsAndChillBanner.jpg);
    background-size: contain;
}
#sbtn {
    background-color: blue;
    text-align: center;
    font-size: 30px;
}
#align{
    object-position: center;
}